* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

body {
  background-image: url("../img/bobs-background.png");
}

ul li {
  margin-left: 40px;
  padding-bottom: 10px;
}

h1 {
  margin: 50px 0;
  font-size: 4em;
  background-color: cornflowerblue;
  height: 120px;
  line-height: 120px;
  border: dotted crimson;
}

h2 {
  text-align: center;
  margin: 10px;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  max-height: 100vh;
  position: relative;
  width: 80%;
  margin: auto;
  padding-top: 20px;
}

.devoured-burgers,
.avail-burgers {
  background-color: cornflowerblue;
  margin: 5px;
  border: dotted crimson;
}

.avail-burgers {
  flex: 1;
  flex-grow: 1;
}

.devoured-burgers {
  flex: 2;
  flex-grow: 1;
}

.forms {
  margin: auto;
  width: 40%;
  height: 150px;
  background-color: cornflowerblue;
  text-align: center;
  border: dotted crimson;
}

.forms h2 {
  padding-top: 5px;
}

.input-line {
  padding: 3px;
}

.addBurger {
  margin-top: 10px;
}

.ingredients {
  margin-left: 25px;
}
